<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="service.TeamInfoService">

	<resultMap type="Team_intro" id="Team_introMap">
		<id column="t_no" property="t_no"/>
		<result column="content" property="content"/>
		<result column="file_no" property="file_no"/>
		<result column="date" property="date"/>
	</resultMap>

	<insert id="t_infoWrite" parameterType="Team_intro">
		
	</insert>
	
	<update id="t_infoUpdate">
	
	</update>
	
	<select id="t_infoSelectOne" parameterType="int" resultType="">
	
	</select>
	
	<select id="t_infoMemberList" resultMap="Team_introMap">

	</select>
</mapper>